# Maven build directory
target/

# IDE settings
.idea/
.vscode/

# OS-specific files
.DS_Store

# Logs
*.log

# Spring Boot Devtools
spring-devtools.properties

# Eclipse IDE
.classpath
.project
.settings/
